<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home Online_Contact_Manager</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
	     <div class="container text-center">
	         <h1> Online Contact Manager</h1>
	         <p class="font-italic ">Online contact manager provide  facility to  save your family member, 
	         friends and office <br>
	             Colleague  contact safely and in very organized manner .
	             You can easily access your close one contact from any place!!!
	         </p>
	         <button class="btn bg-primaryy text-white btn-lg">Started here</button>
	     </div>
	</section>
</body>
</html>